<?xml version="1.0" ?>
<model>
    <name>garage_door_poster</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>
    <author>
        <name>Leticia dos Santos</name>
        <email>lsantos@inf.ufrgs.br</email>
    </author>
    <description>Image from https://commons.wikimedia.org/wiki/File:Clementine_-_Clementine_Dark-Brushed-Metal-metal-texture.jpg</description>
</model>
