<?xml version="1.0" ?>
<model>
    <name>HingedDoor_mod</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Christina Gomez</name>
        <email>cgomez@swri.org</email>
        <name>Leticia dos Santos</name>
        <email>lsantos@inf.ufrgs.br</email>
    </author>
    <description></description>
</model>
